BIP360P_ENFORCER='target/debug/bip360p_enforcer'
BITCOIND='../bitcoin-patched/bitcoind'
BITCOIND_UNPATCHED='../bitcoin-patched/bitcoind'
BITCOIN_CLI='../bitcoin-patched/bitcoin-cli'
BITCOIN_UTIL='../bitcoin-patched/bitcoin-util'
ELECTRS='../electrs/target/release/electrs'
